FLASK_ENV=development
FLASK_DEBUG=True
SECRET_KEY=cambia_esto
DATABASE_URL=postgresql://usuario:password@localhost:5432/citylens
RESTCOUNTRIES_API_URL=https://restcountries.com/v3.1

GOOGLE_PLACES_KEY=tu_api_key
ORIGEN_PERMITIDO=http://localhost:5000

